<h1>Flickr API Toy App</h1>

<%= form_tag '/', method: :get do %>
	<%= label_tag :user_id, "Enter user id" %>
	<%= text_field_tag :user_id %>
	<%= button_tag "Show Photos" %>
<% end %>

<% if @user_id %>

<% photo_urls(@user_id)[0..9].each do |photo| %>
	<p><%= image_tag photo %></p>
<% end %>

<% end %>