<h3>All Kittens:</h3>

<table>
	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>Cuteness</th>
		<th>Softness</th>
	</tr>
	
<% @kittens.each do |kitten| %>
	<tr>
		<td><%= link_to kitten.name, kitten %></td>
		<td><%= kitten.age %></td>
		<td><%= kitten.cuteness %></td>
		<td><%= kitten.softness %></td>
		<td><%= link_to "Delete", kitten, method: :delete, data: { confirm: "You sure?" } %></td>
	</tr>
<% end %>